# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.TestApp.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\repos\versioning-poc\TestApp\.idea\.idea.TestApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
